.header{
    background-color: aqua;
}
.header-center{
    padding: 10px;
    padding-top: 13px;
}
.logo-wight{
    width: 20%;
    height: 20%;
}
.header-navi{
    display: inline-block;
}
.menu-item{
    display: inline-block;
    font-size: 30px;
    padding: 10px 10px 10px 6px;
    text-decoration: none;
    color: darkred;
}
.menu-item:hover{
    background: coral;
    border-radius: 50px;
}
.posts{
    background-color: #d7d579;
}
.item1{
    display: inline-block;
    word-wrap: break-word;
    width: 500px;
}
.item2{
    display: inline-block;
    word-wrap: break-word;
    width: 500px;
}
